<mat-card class="example-card">
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" (keyup.enter)="login()" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" (keyup.enter)="login()" required>
          </mat-form-field></td>
        </tr></table>
      </form>
    </mat-card-content>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card>
